body, html, #chameleon-widget {
  width: 100%;
  height: 100%;
}

input[type="text"], #left, #right {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

#left {
  float: left;
  width: 100px;
  margin: 10px 10px 0 0;  
}

input#search-box {
  background-color: #fff;
  color: #222;
  border-radius: 3px;
  font-size: 16px;
  line-height: 16px;
  padding: 8px;
  border: 0;
  width: 100%;
}

input#search-box:focus {
  border-bottom-color: #0099cc;
}

#right {
  float: right;
  margin: 10px 0 0;
}

.button {
  float: left;
  display: block;
  background-color: #4D90FE;
  background-image: -webkit-linear-gradient(top, #4D90FE, #4787ED);
  border:1px solid #3079ed;
  border-radius: 3px;
  color: white;
  font-family: Verdana, Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 10px;
}

.button:last-child {
  margin-right: 0;
}

.button span {
  display: inline;
}

.button img {
  display: none;
}

.button.tiny span {
  display: none;
}

.button.tiny img {
  display: inline;
  width: 22px; 
  height: 22px;
}

.button.tiny {
  padding: 6px;
}

label.checkbox-label {
  text-transform: none !important;
  font-size: 12px !important;
}

label.checkbox-label input[type="checkbox"] {
  display: inline;
  float: left;
}

#chameleon-widget-settings a.done.half:first-child {
  width: 46%;
  right: auto;
  left: 2%;
  bottom: 2%;
  padding: 12px 0;
}

#chameleon-widget-settings a.done.half:last-child {
  width: 47%;
  left: auto;
  right: 2%;
  bottom: 2%;
  padding: 12px 0;
}

